In [1]:
### Análisis de NetCrime - Esqueleto del Cuaderno (Preprocesamiento + Visualizaciones con Seaborn)

# 1. Import libraries
import pandas as pd
import seaborn as sns # Para visualizaciones

In [5]:
# 1. Cargar dataset
df = pd.read_csv('LossFromNetCrime.csv')

# 2. Exploración inicial
display(df.head())
display(df.info())


# 3. Limpieza básica
# 3.1 Convertir columna de fecha a datetime si existe
date_cols = [c for c in df.columns if 'date' in c.lower()]
if date_cols:
	df[date_cols[0]] = pd.to_datetime(df[date_cols[0]], errors='coerce')
	df.rename(columns={date_cols[0]: 'date'}, inplace=True)

,Country,2019_Complaints,2019_Losses,2020_Complaints,2020_Losses,2021_Complaints,2021_Losses,2022_Complaints,2022_Losses,2023_Complaints,2023_Losses,2024_Complaints,2024_Losses
0,PR,655,5929974,1338,7209755,1785,9463928,1594,17211758,1817,21018302,1974,31545772
1,PS,1784,22483591,2890,25423219,3352,48918464,3210,57796003,3378,69292891,3811,66002407
2,PT,1119,13870074,2020,12391290,2102,18205913,1918,30859319,2178,28700418,2209,40192274
3,PY,1913,10967865,2992,13815152,3188,26677869,3768,40114594,3487,33579643,2678,45168957
4,AE,5503,48101706,7390,81178182,10164,131934602,10042,187062157,11034,244238485,12071,280815215

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          116 non-null    object
 1   2019_Complaints  117 non-null    int64
 2   2019_Losses      117 non-null    int64
 3   2020_Complaints  117 non-null    int64
 4   2020_Losses      117 non-null    int64
 5   2021_Complaints  117 non-null    int64
 6   2021_Losses      117 non-null    int64
 7   2022_Complaints  117 non-null    int64
 8   2022_Losses      117 non-null    int64
 9   2023_Complaints  117 non-null    int64
 10  2023_Losses      117 non-null    int64
 11  2024_Complaints  117 non-null    int64
 12  2024_Losses      117 non-null    int64
dtypes: int64(12), object(1)
memory usage: 12.0+ KB

None